<div class="card col-12 fade">
    <div class="card-body item-card">
        <div class="row">
            <div class="col-2">
                <a href="{{url}}" target="blank">
                    <img class="card-img-left col" src="{{imgURL}}" alt="Item image">
                    {{#if isUpdated}}
                    <i class="material-icons text-danger updated">new_releases</i>
                    <audio autoplay>
                        <source src="/audio/ding.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {{else}}
                    <i class="material-icons text-danger invisible">new_releases</i>
                    {{/if}}
                </a>
            </div>
            
            <div class="col-8">
                <small class="mb-0">Category: {{category}}</small>
                <a href="{{url}}" target="blank" >
                    <h5 class="card-title item-title mb-0">{{title}}</h5>
                </a>
                <small class="date-added text-muted">{{sliceTime createdAt}}</small>
                <p class="my-1 text-primary">Note: <span class="text-dark">{{note}}</span></p>
            </div>
            <div class="col-2">
                <div class="row float-right">
                    <div class="price-initial">
                        <p class="mb-0 text-muted">initial price</p>
                        <p id="item-initial-price mx-2" class="text-primary"><i class="material-icons">attach_money</i>{{initialPrice}}</p>
                    </div>
                    <div class="price-new">
                        <p class="mb-0 text-muted mx-2">new price</p>
                        <p id="item-new-price" class="text-danger"><i class="material-icons">attach_money</i>{{newPrice}}</p>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-outline-secondary float-right mx-1 my-1 check-update" title="update" data-id={{id}}>
                        <span class="material-icons">cached</span>
                    </button>
                    <button class="btn btn-outline-danger float-right mx-1 my-1 delete" title="delete" data-id={{id}}>
                        <span class="material-icons">remove_shopping_cart</span>
                    </button>
                    <a class="btn btn-primary float-right mx-1 my-1 view-item pt-2" data-item-id="{{id}}">view</a>
                </div>
            </div>
        </div>
    
    <hr class="my-1">
    </div>
    
    <p class="card-text pb-1" id="item-description">{{{description}}}</p>
</div>
