<li>
    
    <h3>{{title}}</h3>
    <img src="{{imgURL}}">
    {{!-- <p id="item-title">{{title}}</p> --}}
    <div id="item-description">{{{description}}}</div>
    <p id="item-InitialPrice">{{initialPrice}}</p>
    <p id="item-NewPrice">{{NewPrice}}</p>

    <button class="btn btn-primary" onclick="{{url}}">View</button>
    <button class="btn btn-danger pull-right delete-item" data-id="{{this.id}}">Delete</button>

</li>



