<li class="item" >
    
    <h3>{{title}}</h3>
    <img src="{{imgURL}}">
    <p id="item-title">{{title}}</p>
    <p id="item-description">{{item-description}}</p>
    <p id="item-InitialPrice">{{initialPrice}}</p>
    <p id="item-NewPrice">{{NewPrice}}</p>

    <button class="btn btn-success pull-left"  id="view-item" data-item-id="{{this.id}}">View Details</button>
    <button class="btn btn-danger pull-right delete-item" data-id="{{this.id}}">Delete</button>

</li>



