<li>
    
    <h3>{{title}}</h3>
    <img src="{{imgURL}}">
    <p id="item-title">{{title}}</p>
    <p id="item-description">{{item-description}}</p>
    <p id="item-InitialPrice">{{initialPrice}}</p>
    <p id="item-NewPrice">{{NewPrice}}</p>

    <button onclick="{{url}}"></button>

</li>



