<div class="card col-12">
    <div class="card-body item-card">
        {{!-- I used same Item card html here, just change it and add input fields --}}
        <div class="row">
            <img class="card-img-left col" src="{{imgURL}}" alt="Item image">
            {{#if isUpdated}}
            <i class="material-icons text-danger updated">new_releases</i>
            <audio autoplay>
                <source src="/audio/ding.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {{else}}
            <i class="material-icons text-danger invisible">new_releases</i>
            {{/if}}
            <div class="col">
                <h5 class="card-title item-title mb-0">{{title}}</h5>
                <h4 class="categories">{{category}}</h4>
                <small class="date-added text-muted">{{sliceTime createdAt}}</small>
                <div class="row justify-content-end">
                    <div class="price-initial">
                        <p class="mb-0 text-muted">initial price</p>
                        <p id="item-initial-price mx-2" class="text-primary"><i
                                class="material-icons">attach_money</i>{{initialPrice}}</p>
                    </div>
                    <div class="price-new">
                        <p class="mb-0 text-muted mx-2">new price</p>
                        <p id="item-new-price" class="text-danger"><i
                                class="material-icons">attach_money</i>{{newPrice}}</p>
                    </div>
                </div>

                <a class="btn btn-primary float-right mx-1 view-item" target="blank" data-item-id="{{id}}">View</a>
                <button class="btn btn-outline-danger float-right mx-1 delete" data-id={{id}}>Delete</button>
                <button class="btn btn-outline-secondary float-right mx-1 check-update" data-id={{id}}>Check</button>

            </div>
        </div>
        <hr>
        <hr>
        <p class="card-text" id="item-description">{{{description}}}</p>
        <div class="row card-text">
            <h4>Notes</h4>
            <p>{{note}}</p>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-left">
                <div class="col-md-6">
                    <div class="card animate__animated animate__zoomIn">
                        <div class="card-body">
                            <h3>Take Note!</h3>
                            <form class="updateItem">
                                <div class="form-group">
                                    <label class="text-primary" for="note-input">Add/update a note about this
                                        item</label>
                                    <input type="note" class="form-control" id="note-input" placeholder="Don't Forget!"
                                        required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark mb-5">Add/Update Note</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card animate__animated animate__zoomIn">
                        <div class="card-body">
                            <h3>Organize My Goods!</h3>
                            <form class="updateItem">
                                <div class="form-group">
                                    <label class="text-primary" for="category-input">Give this item a new
                                        category</label>
                                    <input type="category" class="form-control" id="category-input"
                                        placeholder="e.g. Electronics, shoes, automobiles, etc.">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark mb-5">Add/Update Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="text-center">
                        <button type="submit" id="back-to-dash"
                            class="btn btn-warning btn-lg m-1 text-dark animate__animated animate__zoomIn"
                            role="button">Show Me My Goods!</button>
                    </div>
                </div>
            </div>


        </div>